<div class="container body-content">
    <div class="jumbotron">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2 class="text-primary"><small class="text-muted">Title: </small>{{this.title}}</h2>
                    </header>
                    <p>
                        <small><small class="text-muted">Time: </small>
                            {{this.time}}
                        </small>
                    </p>

                    <p>
                        <small>
                            <small class="text-muted">Products: </small>
                            {{this.products}}
                        </small>
                    </p>
                    <p>
                        <small>
                            <small class="text-muted">Recipe: </small>
                            {{this.content}}
                        </small>
                    </p>

                    <p class="text-success">
                        <small class="text-muted">By: </small>
                        {{this.author.fullName}}
                    </p>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-primary btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {{/each}}
    </div>
    </div>
</div>
